/* Home css */
.navbar{
  grid-area: navbar;
}
.sidebar-container{
  grid-area: sidebar-container;
}
.Dashboard-container{
  grid-area: Dashboard-container;
}

.App-container{
  display:grid;
  grid-gap:0.2em;
  grid-template-areas: 
  "navbar"
  "sidebar-container"
  "Dashboard-container"
  }
  @media only screen and (min-width:600px){
    .App-container{
      grid-template-columns: 12% 88% ;
      grid-template-areas: 
      "navbar navbar" 
      "sidebar-container Dashboard-container"                     
      ;
      max-width: 100%; 
    }
  }
.navbar{
  display:flex;
  height: 55px;
  background-color:#007BFF;
  color: white;
  align-items: center;
}
.app-logo a{
  margin:25px;
  font-size:1.2em;
  text-decoration: none;
  color:white;
}

.search-bar{
  display:flex;
  justify-content: flex-end;
  width:900px;
  height:40px
}
.search-bar i{
  position:absolute;
  color:black;
  margin: 8px;
  font-size:1.2em;
  border-radius: 50%;
}
.search-bar input{
  width:450px;
  height:27px;
  padding:5px;
  border-radius:20px;
  border:none;
  outline: none;
  font-size:16px;
  
}
.span-area{
  display:flex;
  justify-content:flex-end;
  width:630px;
}
.navbar span{
  margin:10px;
  cursor: pointer;
  text-decoration: none;
  color:white;
}
.link{
  text-decoration: none;
}
.account-icon{
  margin-left:8px;
  width:30px;
  height:30px;
}
.sidebar-container{
  height:870px;
  background-color:rgb(225, 234, 231);
}
.menu{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-evenly;
  height:870px;
}
.menu-item{
  font-size:1.2em;
}
.icon-sidebar{
  margin:20px 5px -7px 5px;
}
.Dashboard-container{
  width: 100%;
  background-color: #F3F4EE;
}
.h2{
  margin-left:30px;
}
.card-container{
  display: grid;
  grid-template-columns: 300px 300px 300px 300px 300px;
  grid-template-rows: 200px 200px;
  grid-gap:0.5em;
  margin:10px 0 0 30px;
  width:95%;
  height:50%;
}
.dashboard-card{
  display: flex;
  flex-direction: column;
  border-radius: 22px;
  width:300px;
  height:200px;
  font-size:1.2em;
  background-color: #f8c86f ;
}
.dashboard-card h2, p{
  margin-left:15px;
}
.more-info{
  height:36px;
  background: rgb(216, 214, 248);
  background: linear-gradient(90deg, rgb(110, 108, 148) 0%, rgb(61, 61, 150) 0%, rgba(0,212,255,1) 92%);
  padding:12px;
  text-align:center;
  border-radius:5px 5px 22px 22px;
}
.more-info label{
  margin-bottom: 8px;
}
.icon-arrow svg{
 margin: 5px 0 0 5px;
 cursor: pointer;
}

/* Login and Registration css */
.Login-container{
  display:grid;
  width:1920px;
  height:928px;
  grid-area:
  "login-page"
  "side-img"
}
/* Register page */
.Registration-container{
  display:grid;
  width:1920px;
  height:928px;
  grid-area:
  "registration-page"
  "side-img"
}
/* Profile page */
.Profile-container{
  display:grid;
  grid-gap:1em;
  width: 1850px;
  height:928px;
  grid-area: 
  "client-area"
  "dashboard-area"
  ;
}
@media only screen and (min-width:600px){
  .Login-container{
    grid-template-columns: 30% 70% ;
    grid-template-areas: "login-page side-img ";
  }
  .Registration-container{
    grid-template-columns: 30% 70% ;
    grid-template-areas: "registration-page side-img ";
  }
  .Profile-container{
    grid-template-columns: 30% 70% ;
    grid-template-areas: "client-area dashboard-area ";
  }
}
.login-page{
  display:flex;
  flex-direction: column;
  text-align: center;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(44,44,164,1) 0%, rgba(0,212,255,1) 90%);
  
}
.registration-page{
  display:flex;
  flex-direction: column;
  text-align: center;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(44,44,164,1) 0%, rgba(0,212,255,1) 90%);
}
.login-area, .signup-area{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:576px;
  height:600px;
  position: absolute;
  top:20%;
  left:13%;
  border-radius:15px;
  background-color: #ffffff;
}
.side-img{
  display:flex;
  flex-direction: column;
  width:1344px;
  height:928px;
  text-align: center;
}
.input-field{
  width:50%;
  border-radius: 10px;
  margin:15px;
  padding:10px;
  
}
.btn-login{
  width:20%;
  border-radius: 10px;
  padding:10px;
  background: #4080ce;
  color:#ffff;

}
.btn-signup{
  width:20%;
  border-radius: 10px;
  padding:10px;
  background-color: #4080ce;
  color: #ffff;
}
.btn:hover{
  cursor: pointer;
}
.signup-link, .text{
  margin:8px;
}

/* Profile page css */
/* client area ---*/
.Profile-container{
  background-color:#1d70ed;
}
.client-heading{
  width: 93%;
  background-color: #FAFAFA;
  border-radius: 10px;
}
.left-arrow svg{
  width:25px;
  height:25px;
  margin: 8px;
}
.label-top{
margin:8px;
}
.title{
  display: flex;
 font-size:1.2em;
}
h2{
  margin-left:15px;
}
.client-area{
  display:flex;
  flex-direction: column;
  justify-content:space-around;
  margin-left:25px;
  background-color:#FFFFFF;
  /* background-color:#DADEE9; */
  width: 576px;
  height: 928px;
}
.img-card{
  border-radius: 10px;
  /* background-color: #DADEE9; */
  background-color: #FAFAFA;
  width:93%;
  height:200px;
}
.img img{
  width:120px;
  height: 120px;
  margin:15px 0px 0px 15px;
  border-radius: 30px;
}
.employee-container, .personal-container{
  border-radius: 10px;
  background-color: #FAFAFA;
  /* background-color: #DADEE9; */
  width:93%;
  height:330px;
}
.employee-details, .personal-details{
  display:flex;
  width:100%;
  height:255px;
  font-size:1.2em;
}
.employee-key, .personal-key{
  display:flex;
  flex-direction: column;
  justify-content:space-evenly;
  width:30%;
  height:255px;
  margin-left:20px;
  
}
.employee-value, .personal-value{
  display:flex;
  flex-direction: column;
  justify-content:space-evenly;
  width:70%;
  height:255px;
}
h3{
  margin-left: 20px;
}

/* dashboard area--- */
 .dashboard-area{
  display:flex;
  flex-direction: column;
  background-color:#FFFFFF;
  width: 1344px;
  height:928px;
 
} 
 .profile-menu{
  width: 1335px;
  height: 49px;
  background-color:#FAFAFA;
  border-radius:10px;
  /* margin-top:10px; */
} 
.menu-items{
  display:flex;
  justify-content:space-evenly;
  margin-top:15px;
  
}
.menu-items li, a{
  list-style: none;
  text-decoration: none;
  color:black;
} 
.latest-task{
  display: flex;
  flex-direction: column;
  /* background-color:#FAFAFA; */
  background-color:#ebf0f4;
  border-radius:10px;
  margin-top:5px;
  width: 1335px;
  height: 260px;
} 
 .task-heading, .document-heading, .notes-heading{
  display: flex;
  justify-content:space-between;
  align-items:center;
  margin-right: 30px;
} 
.task-content{
  display: flex;
  flex-direction: column;
  margin:10px;
} 
.profile-input{
  display: flex;
  font-size:1.2em;
  margin:10px;
} 
.profile-input label{
   margin-left:10px
}
.profile-input span{
  margin-left:20px;
} 
.documents-and-notes{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color:#FAFAFA;
  border-radius:10px;
  margin-top:5px;
  width: 1335px;
  height: 595px;
}
.document-area{
  display:flex;
  flex-wrap: wrap;
  width:1280px;
  height:150px;
} 
.document-card{
 display: flex; 
 width:300px;
 height:150px;
 margin:5px;
} 
.document-details{
  display: flex;
  flex-direction: column;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(66,68,230,1) 0%, rgba(0,212,255,1) 90%);
  /* background-color:#f8c86f; */
  border-radius: 15px;
  margin:0 20px 25px 20px;
  width:300px;
  height:150px;
} 
.document-icon{
  display: flex;
  height:35px;
}
 .icon-doc svg{
  width:30px;
  height:40px;
  margin:5px;
  text-align: center;
}
.document-content{
  text-align: center;
  font-size:1.2em;
 
}

.notes-container{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  width:1335px;
  height:350px;
  margin-top:10px;
}
.notes-area{
  display:flex;
  width: 1335px;
  height:260px;
} 
 .note-card{
  display:flex;
  border-radius: 10px;
  /* background-color:#F7CE68; */
  background-color:#ebf0f4;
  width:425px;
  height:260px;
  margin:5px;
  text-align: center;
}
.content p{
  margin:5px;
} 

/* ----Customer.js css---- */
  .Customer-container{
  width: 100%;
  height:870px;
  background-color:#F3F4EE;
}
.search-area{
  display:flex;
  width:100%;
  height: 50px;
  align-items: center;
  justify-content:space-between;
} 
.customer-search-bar{
  display:flex;
  width:350px;
}
.search-area input{
  width:300px;
  height:35px;
  margin-left:25px;
  border-radius:20px;
  font-size:1em;
  outline:0;
  padding:10px;
}
.customer-add-icon button{
  margin-right:30px;
  width:120px;
  height:35px;
  border-radius:10px;
  border:none;
  background-color:#007BFF;
  color:white;
  font-size:0.9em;
  padding:10px;
  cursor: pointer;
}
.list-and-grid-btn {
  display:flex;
  justify-content:flex-end;
  width:1024px;
  height:35px;
}
.list-and-grid-btn button {
  width: 45px;
  height: 35px;
  margin-right:7px;
  border-radius: 10px;
  border: none;
  background-color: #007BFF;
  color: white;
  font-size: 0.9em;
  padding: 10px;
  cursor: pointer;
 
}

.customer-search-icon svg{
position:absolute;
margin-left:-30px;
margin-top:5px;
width:23px;
height:25px;
cursor: pointer;

}
.customer-area{
  display:grid;
  grid-template-rows: 200px 200px 200px 200px 200px;
  grid-template-columns: 370px 370px 370px 370px;
  grid-gap:1em;
  margin:15px 0px 0px 15px;
  width:100%;
  height:750px;
}
.customer-card{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color:#e3e3e3;
}
.customer-details-area{
  display:flex;
  width:370px;
  height:130px;
}
.customer-img{
  display:flex;
  margin:15px 0px 0px 15px;
  width:65px;
}
.customer-img img{
  width:50px;
  height:50px;
  border-radius: 50%;
}
.customer-info{
  display:flex;
  flex-direction: column;
  width:305px;
}
.customer-info h3 {
  margin:5px;
}
.customer-info p{
  margin:5px;
}
.customer-info-more{
  display: flex;
  width:370px;
  height:70px;
  margin-top:7px;
  border-top: 1px solid rgb(209, 201, 201);
}
.customer-info-more .last-order{
  display:flex;
  flex-direction: column;
  font-size: 0.8em;
  width:185px;
  justify-content: center;
  align-items: center;
  margin-bottom:25px;
  
}
.customer-info-more .total-orders{
  width:185px;
}
.customer-info-more .total-orders{
  display:flex;
  flex-direction: column;
  font-size: 0.8em;
  width:185px;
  justify-content: center;
  align-items: center;
  margin-bottom:25px;
}
.customer-info-more h4{
  margin-bottom:5px;
} 
/* ---CutomerList.js CSS */
.CustomerList-container{
  display:flex;
  flex-direction: column;
  width:100%;
}
.customer-nav-top{
  display:flex;
  align-items: center;
  width:100%;
  height:45px;
  justify-content:space-between;
  margin-top:15px;
}
.customerlist-heading{
  display:flex;
  width:250px;
  height:45px;
}
.nav-top-items{
  display: flex;
  width:550px;
  height:35px;
  align-items: center;
  justify-content:space-evenly;
}
.customerlist-search-bar {
  display: flex;
  width:250px;
  height:35px;
}
.customerlist-search-bar input{
  width:200px;
  height:35px;
  border-radius:20px;
  font-size:1em;
  padding:10px;
  outline:0;
}
.customerlist-btn{
  display:flex;
  width:200px;
  height:35px;
  justify-content:space-evenly;
}
.add-btn{
  width:120px;
  border-radius: 10px;
  margin-right: 7px;
  border:none;
  background-color:#007BFF;
  color:white;
  font-size: 0.9em;
  cursor: pointer;
}
.export-btn{
  border-radius: 10px;
  margin-right: 7px;
  border:none;
  background-color:#007BFF;
  color:white;
  cursor: pointer;
}
.customer-table-container{
  width:100%;
  height:100%;
}
.content-table{
  width:100%;
  margin:25px 0;
  font-size:1.1em;
}
.content-table thead tr{
  background-color:#f8c86f;
  font-weight: bold;
}
.content-table tbody tr{
  text-align: center;
}
.content-table th, .content-table td{
  padding: 12px 15px;
}
/* ----Employees.js CSS---- */
.Employee-container{
  display:flex;
  flex-direction: column;
  width: 100%;
}
.employee-top-nav{
  display:flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100px;
  
}
.nav-items1{
  display:flex;
  width: 100%;
  height: 50px;
  justify-content:space-between;
  align-items: center;
}
.nav-items2{
  display:flex;
  width: 100%;
  height: 50px;
  align-items: center;
}
.nav-items2 {}